
 <!DOCTYPE html>
 <html>
 <head>
   <meta charset="utf-8">
           <title>Search Engine</title>
           <link rel="stylesheet"  type="text/css" href="css/index.css">
           <script type="text/javascript">
             function logout(){

             window.location.href='login.html';
 }
           </script>
   </head>



 <body>
   <div class="flex-center position-ref full-height">
           <div class="top-right links">
                   <a href="profile.html">profile</a>
                   <button type="button" onclick="logout()">Logout</button>
           </div>

 <h1>SEARCH ENGINE</h1>

 <div class="form-box"  class="header">
		  <input type ="text" class="search" placeholder = "Search a book">
      <br>
      <img class ="search-btn" src="images/search.jpg" alt="">
		  <!-- <button class ="search-btn" type="button"> </button> -->
      </div>
      <div class="adv-search">
      <button type="button" name="button">Advanced Search</button>
      </div>

 </body>
 </html>
