
 <!DOCTYPE html>
 <html>
 <head>
   <meta charset="utf-8">
           <title>Search Engine</title>
           <link rel="stylesheet"  type="text/css" href="css/index.css">
   </head>



 <body>
   <div class="flex-center position-ref full-height">
           <div class="top-right links">
                   <a href="login.html">Login</a>
                   <a href="register.html">Register</a>
           </div>

 <h1 >SEARCH ENGINE</h1>

 <div class="form-box"  class="header">
		  <input type ="text" class="search" placeholder = "Search a book">
      <br>
      <img class ="search-btn" src="images/search.jpg" alt="">
		  <!-- <button class ="search-btn" type="button"> </button> -->
      </div>

 </body>
 </html>
